html, body, #root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


html, body {
    height: 100%; 
    margin: 0;
    background-color:#efefef;;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
    background-color:#efefef;;
}

.main-content {
    flex-grow: 1; 
    padding-bottom: 100px;
}


header{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px;
    /* background-image: url(../src/assets/images/header.gif);  */
    background-color: #003F91;
    color: #efefef; 
}



footer {
    /* background-image: url(../src/assets/images/header.gif); */
    background-color: #003F91;
    font-weight: bold;
    width: 100%;
    height: 100px;
    display: flex;
    text-shadow: 0 0 3px rgba(0, 0, 0, 1);
    position: sticky;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
    bottom: 0;
    
    
}

footer h2 {

  color: #efefef;
  font-size: 20px;
  margin: 0;
}

footer p {
  font-size: 15px;
  margin: 0;
  text-align: center;

}


footer a:hover {
  color: #328C83;
  transition: .5s ease;
}

  
header h1 {
    margin: 0;
    font-size: 32px;
}
  

header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
    
}

.nav-link {
    text-decoration: none;
    text-shadow: 0 0 3px rgba(0, 0, 0, 1);
    color: #333; /* Default link color */
    transition: color 0.3s ease; /* Smooth transition */
}

header nav ul li a:hover {
  background: #20b1c2;
  color: #D5F2EA;
  border-radius: 15px;
  text-shadow: none;
}







.h2Projects {
  font-size: 48px; 
  margin-bottom: 60px; 
  margin-top: 40px;
  border-bottom: 3px solid #003F91;
  width: 50%;
  text-align: center;
  color: #003F91;
  margin-left: auto;
  margin-right: auto;
}

  
.images-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 40px; 
    justify-items: center; 
    align-items: center;
    margin-left: 10px;
    width: 100%;
    
}

.grid-item {
  position: relative; 
}

.images-grid div {
    text-align: center;
}
  
.images-grid img {
    width: 100%; /* Make the images responsive to their container */
    max-width: 400px;
    height: 240px; /* Define a consistent height */
    object-fit: cover; /* This will ensure the images maintain aspect ratio while filling the space */
    border-radius: 10px; /* Optional: add rounded corners if you want */
}
  
.images-grid .title {
    margin-top: 10px;
    font-weight: bold;
}

.image-hover-text {
  position: absolute; 
  top: 35%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  color: white; 
  background-color: rgba(0, 0, 0, 0.7); 
  padding: 10px;
  border-radius: 5px; 
  opacity: 0; 
  transition: opacity 0.3s ease;
}

.grid-item:hover .image-hover-text {
  opacity: 1;
}

.images-grid img {
    transition: transform 0.3s ease;
}
  
.images-grid img:hover {
    transform: scale(1.1);
}

.projectIcons{
  padding-left: 10px;
  color:#24cd65;
}

.projectIcons:hover {
  color: #20b1c2;
}


.my-contact-row i {
    color: white;
}

.contact-content ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    padding: 0;
    margin: 0;
    list-style: none;
    
  }
  
  .contact-content li {
    flex: 0 0 calc(50% - 10px); 
    display: flex;
    justify-content: center;
    
    
  }

  .github-icon {
    color: white; 
    transition: color 0.3s ease;
}

.github-icon:hover {
    color: #20b1c2;
}







/* REACH OUT STYLES START */
#reach-out {
  margin-top: 20px;
 background-color:#efefef;;
}

#reach-out h2 {
  color: #003F91;
}

.contact h2 {
  color: #efefef;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color:#efefef;;
}

.contact-form {
  padding-right: 10%;
  
}

.contact-form button:hover {
  color: #d5e7f2;
  background: #3998b2;
}

.contact-form input,
.contact-form textarea {
  border: 1px solid #22465a;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #111213;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);

}


.contact-form input:focus,
.contact-form textarea:focus {
  background-color: rgba(255, 255, 255, 1);
  outline: none;
}

.contact-form button {
  width: 100%;
  border: none;
  background: #24cd65;
  color: #010508;
  text-align: center;
  padding: 15px 0;
  font-size: 25px;
  border-radius: 10px;



}

.contact-info>* {
  flex: 1;
  margin: 15px;
}


.contact-info div {
  width: 410px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 30px 0 0 60px;
  

}

.contact-info h3 {
  color: #003F91;
  border-bottom: 3px solid #003F91;
  font-size: 32px;
}

.contact-info p,
.contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 25px;
  font-style: normal;


}

#contact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}

.contact-info a {
  color: rgb(179, 49, 49);
  display: inline;
}

.contact-info a:hover {
  color: white;
  transition: .5s ease;
}

/*end "Contact me" styles*/


/* extra titles stylings */
.section-title {
  font-size: 48px;
  color: #003F91;
  border-bottom: 3px solid;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.primary-border {
  border-color: #0E5259;
}

.secondary-border {
  border-color: #003F91;
}

label {
  font-size: 25px;
}

/*Extra styling*/
.flex-row {
  display: flex;
}


/*navbar about page welcome and paragraph*/

.headerBack{
  /* background-image: url(../src/assets/images/header.gif); */
  color: #efefef;
  background-color: #003F91;
  text-shadow: 0 0 3px rgba(0, 0, 0, 1);
  text-align: center;
  padding: 20px;
}

.headerWel{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 50px;
  font-size: 50px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 1);
}

.PWel {
  font-size: 20px;
  color: #efefef;
  text-align: center;
  text-shadow: 0 0 3px rgba(0, 0, 0, 1);
  margin: 20px auto; /* This centers the element horizontally */
  width: 50%; /* Adjust this to control the width */
  line-height: 1.5; /* This adjusts the spacing between lines */
}

.profile-picture img {
    width: 200px;
    height: auto; 
    border-radius: 20%;
    margin-top: 100px;
    float: left;
  
}

.about-me-para-font{
font-style: italic;
font-size: 20px;
  text-align: center;
   /* This centers the element horizontally */
  width: 100%; /* Adjust this to control the width */
  line-height: 1.5; /* This adjusts the spacing between lines */
}

.about-row {
  display: flex;

  flex-direction: column; /* Ensures the h2 is above the p */
  align-items: center; /* Centers content horizontally if needed */
  padding: 20px;
}

.H2AboutMe {
  font-size: 48px; /* Adjust the font size of the h2 */
  margin-bottom: 10px; /* Adds spacing between the h2 and the paragraph */
  margin-right: 200px;
  border-bottom: 3px solid black;
  width: 50%;
  text-align: center;
  color:#003F91
  
}

.about-row p {
  font-size: 1.1rem;;
  text-align: center; /* Centers the paragraph text */
  margin: 30px auto;
  width: 100%; /* Adjust this to control the width */
  line-height: 1.5; /* This adjusts the spacing between lines */
}

/*resume page*/

.download-text {
  height: auto;
  /* margin-left: 20%; */
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

  .download-logo{
  cursor: pointer;
  list-style: none;
  font-size: 70px;
  color: #0E5259;
  display: inline-block;
}

.download-logo:hover {
  color: #328C83;
  opacity: 0.5;
  transition: .5s ease;
}

.download-info {
  flex: 3 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.skillPar{
  color: #003F91;
  border-bottom: 3px solid #003F91;
  text-align: center;
  margin: 20px auto; /* This centers the element horizontally */
  width: 50%; /* Adjust this to control the width */
  line-height: 1.5; /* This adjusts the spacing between lines */
}

.logo {
  font-size: 50px;
  color: #efefef;
  display: inline-block;
}

.logo:hover {
  color: #20b1c2;
  opacity: 0.5;
  transition: .5s ease;
}

.col-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 100%;
}

.column1,
.column2,
.column3 {
  width: 410px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 30px 0 0 60px;
  border: 3px #0E5259;
  box-shadow: #003F91 1px 1px 6px;
  
}

ul {
  list-style-type: none;
}

.column-title{
  font-size: 32px;
  color: #0E5259;
  font-weight: bold;
}

.article {
  margin: 10px 10px 1em;
  min-height: 400px;
  background-color: #ffffff;
}



 @media (max-width: 768px) {
    header {
        flex-direction: column; 
        align-items: center; 
        padding: 20px;
    }

    header h1 {
        font-size: 24px; 
        text-align: center;
        margin-bottom: 10px;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    header nav ul li {
        margin-left: 0;
    }

    header nav ul li a {
        font-size: 16px; 
    }
    .about-row, .my-projects-row, .my-contact-row {
        flex-direction: column;
        align-items: center;
    }

    .about-row h2, .my-projects-row h2, .my-contact-row h2 {
        width: auto;
        margin-bottom: 10px;
    }

    .images-grid {
        grid-template-columns: 1fr;
    }

    .profile-picture img {
        width: 100px;
        flex-direction: column;
    }

    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .about-content p {
        max-width: 100%;
        text-align: center;
    }

    .contact-content li {
        flex: 1 1 100%;
    }

    .btn {
        width: 100%;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 24px;
    }

    header nav ul li a {
        font-size: 16px;
    }

    .grid-item img {
        width: 90%;
    }
} 